@use "../common/helper" as *;
@use "../common/config" as *;

@keyframes gallery-block-flash {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

.gallery-block {
    &__container {
        display: flex;
        align-items: start;
        flex-direction: row;
        gap: $spacer-30;

        @include breakpoint(md, max) {
            flex-direction: column;
        }
    }

    &__media-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: $spacer-10;
    }

    &__figure {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        &--row-span-2 {
            grid-row: span 2;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &__caption {
        position: absolute;
        left: $spacer-0;
        right: $spacer-0;
        bottom: $spacer-0;
        padding: $spacer-10;
        color: $color--dark;
        background-color: $color--white;
        text-align: center;
        font-family: $open-sans-bold;
        font-weight: $font-weight--bold;
        transform: translate3d(0, 100%, 0);
        transition: transform 0.35s;
        pointer-events: none;
    }

    &__figure:hover &__caption,
    &__figure:focus-within &__caption {
        transform: translate3d(0, 0, 0);
    }

    &__figure:hover &__image,
    &__figure:focus-within &__image {
        opacity: 1;
        animation: gallery-block-flash 1.5s;
    }

    &__content {
        width: 100%;
        max-width: 100%;

        @include breakpoint(lg, min) {
            max-width: 362px;
        }
    }

    &__title-wrap {
        border-bottom: 1px solid $color--white;
        padding-bottom: $spacer-30;
        margin-bottom: $spacer-30;
        display: inline-block;
    }

    &__title {
        color: $color--white;
        font-family: $open-sans-light;
        font-weight: $font-weight--light;
        text-transform: uppercase;
        margin: $spacer-0;
    }

    &__subtitle {
        color: $color--red;
        font-family: $open-sans-bold;
        font-weight: $font-weight--bold;
        padding-bottom: $spacer-10;
    }

    &__text {
        color: $color--white;
        font-family: $open-sans-light;
        font-weight: $font-weight--light;
        padding-bottom: $spacer-30;
    }

    &__text--padding-0 {
        padding-bottom: $spacer-0;
    }

    &__text--bold {
        font-family: $open-sans-bold;
        font-weight: $font-weight--bold;
    }
}

@media (prefers-reduced-motion: reduce) {
    .gallery-block__figure:hover .gallery-block__image,
    .gallery-block__figure:focus-within .gallery-block__image {
        animation: none;
    }

    .gallery-block__caption {
        transition: none;
    }
}
