// BREAKPOINTS - legacy  -- this will be removed after BEM refactoring
$bp-xs: 430px;
$bp-sm: 768px;
$bp-md: 1024px;
$bp-lg: 1600px;
$bp-xl: 1920px;
$bp-xxl: 2560px;

// BREAKPOINTS
$breakpoints: (
  "xs": 430,
  "sm": 768,
  "md": 1024,
  "lg": 1600,
  "xl": 1920,
  "xxl": 2560,
);

// FONT FAMILY
$font-family--primary: "Poppins", sans-serif;
$font-family--secondary: sans-serif;

// ROOT FONT SIZE at breakpoints
$root-font-size--base: 12px;
$root-font-size--xs: 12px;
$root-font-size--sm: 12px;
$root-font-size--md: 15px;
$root-font-size--lg: 15px;
$root-font-size--xl: 18px;

// COLORS
$color--primary: #146bbb;
$color--secondary: #0198ff;
$color--light: #ffffff;
$color--dark: #3c3c3c;

$bg-color--base: #f8f8f8;
$bg-color--primary: #ffffff;
$bg-color--secondary: #000000;

$color--shade: #d9d9d9;

$color--danger: #e30613;
$color--warning: #f2aa29;
$color--success: #5bb264;

// SPACERS
$spacer-1: 5px;
$spacer-2: 15px;
$spacer-3: 20px;
$spacer-4: 25px;
$spacer-5: 35px;
$spacer-6: 48px;
//needs to be defined because of util classes, but will not be used
$spacer-7: 1px;
$spacer-8: 1px;
$spacer-9: 1px;
$spacer-10: 1px;
$spacer-11: 1px;
$spacer-12: 1px;
$spacer-13: 1px;
$spacer-14: 1px;
$spacer-15: 1px;
$spacer-16: 1px;

// FONT SIZES
$font-size--xxxs: 1rem; //needs to be defined because of util classes, but will not be used
$font-size--xxs: 1rem;
$font-size--xs: 1.16rem;
$font-size--sm: 1.33rem;
$font-size--md: 1.5rem;
$font-size--lg: 2rem;
$font-size--xl: 48px;

// FONT WEIGHT
$font-weight--normal: 400;
$font-weight--medium: 500;
$font-weight--bold: 700;
$font-weight--black: 900;

// LINE HEIGHT
$line-height--xxs: 0.96; //needs to be defined because of util classes, but will not be used
$line-height--xs: 0.96;
$line-height--sm: 1;
$line-height--md: 1.2;
$line-height--lg: 1.5;
$line-height--xl: 1.8;

// GRID GUTTER
$grid--gutter: 10px;
