/* Reset */
html,
body,
main,
section,
div,
figure,
img,
h3,
h4,
p,
strong {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
}

body {   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background: #fff;
}

img {
    display: block;
    max-width: 100%;
}
